.dashboard-layout {
    display: flex;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 37px;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .sidebar a {
    display: block;
    padding: 10px 15px;
    color: #ecf0f1;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .sidebar a.active {
    background-color: #1abc9c;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .sidebar button {
    margin-top: 20px;
    padding: 10px 15px;
    color: #ecf0f1;
    background-color: #e74c3c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #ffffff;

  }
  
  .sidebar.collapsed {
    width: 60px; /* Reduced width when collapsed */
  }
  
  .sidebar a, .sidebar button {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
  }
  
  /* .sidebar button:hover, .sidebar a:hover {
    background-color: #495057;
    border-radius: 5px;
  }
   */
  .toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
    align-self: flex-end;
  }
  
