.hero-section {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.hero-background {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 20px;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  color: #fff;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 500px;
  color: #f9f9f9;
  text-align: center;
}
.hero-buttons{
  display: flex;
  gap: 1.5rem;
}
.hero-buttons button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: .8rem 1.4rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all .3s ease;
}

.hero-buttons button:hover {
  background-color:#dedede
}

/* Responsive styles */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-buttons button {
    width: 80%;
    max-width: 300px;
  }
}
